/* ヘッダーの色 */
.content-header h1{
    text-align: center;
    color:  white;
    background-color: rgb(71, 70, 70);
    font-weight: bold;
    line-height: 110px; 
    font-size: 2.5rem; 
}
.mt-4{
    margin-top: 5px;
}

.pb-2{
    border-top: 1px solid #dee2e6;
    padding-top: 15px;
}

/* ボタン全体 */
.btn {
    background-color: transparent;
    border: 2px solid ;
}
.btn:hover{
    background-color: rgb(255, 255, 255); 
    font-weight: bold;
    color: white;
}

.btn:active{
    background-color: white;
}
.btn:focus{
    border: 2px solid blue;
}

/* ラジオボタン */
.form-check {
    margin-right: 10px; 
}
.form-check:last-child {
    margin-right: 30px; 
}

/* 優先度のラジオボタンのアイコン */
.fa-star{
    color: gold
}
.fa-star-half-alt{
    color: gold
}
.fa-times{
    color: red;
}

/* ファイル選択ボタン */
.btn-select{
    margin-left: 10px;
    margin-right: 10px;
}
/* カードタイトル */
.card-header:first-child{
    background-color: rgb(118, 132, 148);  
}
.card-title{
    font-weight: bold;
    color: rgb(71, 70, 70);
}
/* ヘッダー */
.custom-table thead th {
    font-size: 0.85rem;
    padding: 5px;
    
}
.custom-table td {
    vertical-align: middle;
    padding-left: 0;
}
.custom-table th {
        vertical-align: middle;
        padding-left: 0;
}
/* レコード */
.table {
    width: 100%;
    table-layout: fixed; 
}
.table td {
    white-space: normal; 
    line-height: 1.5; 
}
.col-priority {
    width: 70px;
} 
.col-request {
    width: 60%; 
    text-align: left; 
}
.col-edit {
    width: 60px; 
    text-align: right; 
}

.col-image{
    width: 60px;
    text-align: center; 
    margin-left: 20px;
}

.th-col-priority{

    padding-right: 20px;
}
/* 画像アイコン */
.custom-table img {
    max-width: 100px; 
    height: auto; 
}


/* 画像ボタン */
.btn-info{
    color: #17a2b8;
    border: 2px solid; 
    margin-left: 10px;
}

.btn-info:hover{
    color: #17a2b8;
}

/* 編集ボタン */
.btn-edit{
    margin-left: 20px;
    border: 2px solid   purple;
    color:  purple;
}

.btn-edit:hover {
    color:  purple;

}
/* 削除ボタン */

.btn-danger{
    color: red;
}
.btn-danger:hover{
    color:  red;
}

/* 閉じるボタン */
btn-default{
    color: gray;
}

/* 更新ボタン */
.btn-update{
    color: rgb(80, 183, 183);
}

.btn-update:hover{
    color: rgb(80, 183, 183);
}

/* 画像投稿ボタン */
.btn-select{
    color: orange;
}

.btn-select:hover{
    color: orange;
}
   /* 登録ボタン */ 
.btn-store{
    color: rgb(31, 222, 146);
}
.btn-store:hover    {
    color: rgb(31, 222, 146);
}


/* クライアント */

.form-inline .form-group {
    margin-right: 10px;
}


.client-form{
    background-color: white;
}

.fas{
    padding-right: 5px;
}
/* カードのアイコン */
  .fa-toilet {
    color: rgb(245, 110, 198); 
}
.fa-bath {
    color: rgb(88, 219, 188);
}
.fa-lightbulb {
    color: #ffc107;
}
.fa-trash { 
    color: rgb(170, 159, 159); 
}
.fa-tree {
    color: rgb(48, 184, 48); 
}
.fa-chair {
    color: rgb(232, 62, 107); 
}
.fa-bed {
    color: #6f42c1;
}
.fa-child {
    color: rgb(235, 55, 85); 
}
.fa-box {
    color: #fd7e14;
}
.fa-tools {
    color: rgb(173, 156, 156); 
}
.fa-couch {
    color: #3d9970 ;
}
.fa-tv {
    color: brown ;
}
.fa-utensils {
    color: rgb(235, 214, 95);
}
.fa-sink{
    color: #007bff !important;
}
.fa-palette  {
    color: #3c8dbc !important;
}

.fa-check-title{
    color: rgb(235, 55, 85); 
}

.fa-user-friends{
    color: rgb(235, 220, 55); 
}

.fa-boxes{
    color: rgb(132, 89, 36); 
}


.container-fluid-client{
    max-width: 500px; 
    margin: 0 auto; 
}


.bg-summer-sky{
    color: rgb(86, 80, 80);
    font-size: 23px;
    text-align: center;
}

.form-group-1{
    background-color: white;    ;
}

.form-control {
    width: 100%; 

}

.form-inline{
    color: rgb(137, 36, 36);
    font-size: 16px;
   
    
}
