
.fa-star{
    color: gold;
}
.fa-star-half-alt{
    color: gold;    
}
.fa-times{
    color: red;
}


.card-header:first-child{

    background-color:#dc3545;
  
}



.custom-table thead th {
    font-size: 0.85rem;
    padding: 5px;
    background-color:#3f6791 ;


    
}

.custom-table tbody td {
    max-width: 150px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.custom-table img {
    max-width: 100px; 
    height: auto; 
}
.custom-table th, .custom-table td {
vertical-align: middle;
}

.col-priority {
width: 150px; 
} 

.col-request {
width: 60%;
}

.col-actions {
width: 200px; 

}

