/* ボタン全体 */
.btn {
    background-color: transparent;
    border: 2px solid ;
}
.btn:hover{
    background-color: rgb(255, 255, 255); 
    font-weight: bold;
    color: white;
}

.btn:active{
    background-color: white;
}
.btn:focus{
    border: 2px solid blue;
}


/* ラジオボタン */
.form-check {
    margin-right: 10px; 
}
.form-check:last-child {
    margin-right: 30px; 
}

/* 優先度のラジオボタンのアイコン */
.fa-star{
    color: gold
}
.fa-star-half-alt{
    color: gold
}
.fa-times{
    color: red;
}

/* ファイル選択ボタン */
.btn-select{
    margin-left: 10px;
    margin-right: 10px;
}
/* カードタイトル */
.card-header:first-child{
    border: 2px solid; 
    color:  rgb(71, 70, 70);
    background-color: rgb(71, 70, 70);
}
.card-title{
    font-weight: bold;
    color: white;
}
/* ヘッダー */
.custom-table thead th {
    font-size: 0.85rem;
    padding: 5px;
    
}
.custom-table td {
    vertical-align: middle;
    padding-left: 0;
}
.custom-table th {
        vertical-align: middle;
        padding-left: 0;
}
/* レコード */
.table {
    width: 100%;
    table-layout: fixed; 
}
.table td {
    white-space: normal; 
    line-height: 1.5; 
}
.col-priority {
    width: 70px;
} 
.col-request {
    width: 60%; 
    text-align: left; 
}
.col-edit {
    width: 60px; 
    text-align: right; 
}

.col-image{
    width: 60px;
    text-align: center; 
    margin-left: 20px;
}

.th-col-priority{

    padding-right: 20px;
}
/* 画像アイコン */
.custom-table img {
    max-width: 100px; 
    height: auto; 
}


/* 画像ボタン */
.btn-info{
    color: #17a2b8;
    border: 2px solid; 
    margin-left: 10px;
}

.btn-info:hover{
    color: #17a2b8;
}

/* 編集ボタン */
.btn-edit{
    margin-left: 20px;
    border: 2px solid   purple;
    color:  purple;
}

.btn-edit:hover {
    color:  purple;

}
/* 削除ボタン */

.btn-danger{
    color: red;
}
.btn-danger:hover{
    color:  red;
}

/* 閉じるボタン */
btn-default{
    color: gray;
}

/* 更新ボタン */
.btn-update{
    color: rgb(80, 183, 183);
}

.btn-update:hover{
    color: rgb(80, 183, 183);
}

/* 画像投稿ボタン */
.btn-select{
    color: orange;
}

.btn-select:hover{
    color: orange;
}
   /* 登録ボタン */ 
.btn-store{
    color: rgb(31, 222, 146);
}
.btn-store:hover    {
    color: rgb(31, 222, 146);
}


/* クライアント */

.form-inline .form-group {
    margin-right: 10px;
}


.client-form{
    background-color: white;
}


/* カードのアイコン */
  .fa-toilet {
    color: rgb(110, 155, 245); /* トイレアイコンの色 */
}
.fa-bath {
    color: rgb(132, 219, 88); /* アイデアアイコンの色 */
}
.fa-lightbulb {
    color: rgba(234, 223, 17, 0.923); /* アイデアアイコンの色 */
}
.fa-trash {
    color: rgb(170, 159, 159); /* アイデアアイコンの色 */
}
.fa-tree {
    color: rgb(48, 184, 48); /* アイデアアイコンの色 */
}
.fa-chair {
    color: rgb(232, 62, 107); /* アイデアアイコンの色 */
}
.fa-bed {
    color: rgb(204, 121, 204); /* アイデアアイコンの色 */
}
.fa-child {
    color: rgb(235, 55, 85); /* アイデアアイコンの色 */
}
.fa-box {
    color: orange; /* アイデアアイコンの色 */
}
.fa-tools {
    color: rgb(173, 156, 156); /* アイデアアイコンの色 */
}
.fa-couch {
    color: rgb(129, 220, 49); /* アイデアアイコンの色 */
}
.fa-utensils {
    color: rgb(235, 214, 95); /* アイデアアイコンの色 */
}

