/* 入力フォーム */

/* ラジオボタン */
.form-check {
    margin-right: 10px; 
}
.form-check:last-child {
    margin-right: 30px; 
}
.btn-primary {
    margin-left: 10px; 
}
/* 優先度のラジオボタンのアイコン */
.fa-star{
    color: gold;
}
.fa-star-half-alt{
    color: gold;    
}
.fa-times{
    color: red;
}
/* カード （テーブル）*/
/* カードタイトル */
.card-header:first-child{
    background-color:#dc3545;
}
.card-title{
    font-weight: bold;
}
/* ヘッダー */
.custom-table thead th {
    font-size: 0.85rem;
    padding: 5px;
    background-color:#3f6791 ;
}

.custom-table th, .custom-table td {
    vertical-align: middle;
    }
/* レコード */
.table {
    width: 100%;
    table-layout: fixed; 
}
.table td {
    white-space: normal; 
    line-height: 1.5; 
}
.col-priority {
    width: 80px; 
    text-align: center; 
} 
.col-request {
    width: 60%; 
    text-align: left; 
    padding-left: 20px; 
}
.col-edit {
    width: 150px;
    text-align: center; 
}
/* 画像アイコン */
.custom-table img {
    max-width: 100px; 
    height: auto; 
}
